html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
    /*font-family: 'Roboto', sans-serif;*/
    font-family: 'Tinos', serif;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';

}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
.all{
    height: 2000px;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}
.header{
    height: 100vh;
    background: url("../image/bg.png") no-repeat center/cover;
}
.nav__item img{
    width: 20px;
}
.nav__item{

}
.header__top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;

}
.header__right{
    display: flex;
}
.header_menu{
    border-right: solid white 2px;
    display: flex;
    align-items: center;
    height: 50px;
    padding-right: 25px;
}
.nav{
    display: flex;
    align-items: center;
    height: 100%;
    column-gap: 23px;



}
.nav__item a{
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
    text-decoration: none;
}
.number{
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
}
.text{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;

}
.header__contacts{
    display: flex;
    align-items: center;
    height: 100%;
    column-gap: 15px;

    padding-left: 20px;
}
.header__contacts{
    height: 20%;
}
.phonenumber{
    display: flex;
    column-gap: 5px;
}
.header__contacts_button{
    background: #FF7400;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    cursor: pointer;
    color: white;
    height: 47px;
    width: 157px;
    justify-content: center;
    align-items: center;
    display: flex;
}
.header__logo{

    padding-left: 50px;
}

.h1{
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 57px;

    color: #D67E35;
}
.header_title{
    color: #D67E35;
    font-style: normal;
    font-weight: normal;
    margin-top: 205px;

}
.header_title h2{
    font-size: 50px;
    line-height: 57px;
    margin-left: 54px;



}.header_title h1{
     font-size: 80px;
     line-height: 92px;
     margin-left: 30px;

 }
.header_title p{
    color: #FFFFFF;
    text-align: center;
    display: flex;
    align-items: center;
    margin-left: 90px;
    margin-top: 10px;

}
.header_title p::before,
.header_title p::after{
    content:"";
    display: block;
    width: 61px;
    height: 2px;
    background-color: #FFFFFF;
    margin-left: 10px;
    margin-right: 10px
;
}
.header__main .header__contacts_button{
    margin-top: 35px;

}
.btn{
    display: flex;
    justify-content: left;
    margin-left: 170px;
}
.header__main{
    display: flex;
    flex-direction: column;
    justify-content: center;


}

