.all{
    background: silver;
    width: 1500px;
    height: 1000px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    align-items: center;
}
#header{
    background: purple;
    width: 700px;
    height: 150px;
    border: solid black 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#menu{
    background: gold;
    width: 200px;
    height: 400px;
    border: solid black 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#footer{
    background: orange;
    width: 700px;
    height: 150px;;
    border: solid black 5px;
    display: flex;
    align-items: center;
    justify-content: center;


}
#post1{
    background: cornflowerblue;
    width: 480px;
    height: 190px;
    border: solid black 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}#post2{
    background: cornflowerblue;
    width: 480px;
    height: 190px;
     border: solid black 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.post{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    column-gap: 20px;
}
.menuandposts{
    display: flex;
    row-gap: 15px;
    align-items: center;
    justify-content: center;
    column-gap: 10px;

}
